@model IEnumerable<Tariff.Models.Rate>

@{
    ViewBag.Title = "Rates table";
}

<h2>Rate Table</h2>

<p>
    @Html.ActionLink("Create New Rate", "Create")
</p>
<p>
    @Html.ActionLink("Create New Parameter", "Create", "ParamTypes")
</p>
@using (Html.BeginForm("CompareRates", "Rates", FormMethod.Get))
{
    <table class="table">
        <tr>

            <th>
                Choose rates for comparison
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RateType)
            </th>

            <th></th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input id="check-box" type="checkbox" name="rate" value=@item.Id />
                </td>
                <td>
                    @Html.DisplayFor(x => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Operator.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RateType.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.Id}) |
                    @Html.ActionLink("View", "RateInfo", new {id = item.Id})
                </td>
            </tr>
        }

    </table>

    <input id="compare-btn" type="submit" value="Compare">
}

