@using Tariff.Models
@model Tariff.Models.Param

@Html.HiddenFor(x => Model.Id)
@Html.HiddenFor(x => Model.ParamTypeId)
@Html.HiddenFor(x => Model.RateId)


<div class="control-label col-md-2">
    @Html.DisplayFor(x => Model.ParamType.Name)
</div>
<div class="control-label col-md-10">
    @{
        if (Model.ParamType.ParamDataType.Value == ParamDataType.Bool)
        {
            if (Model.Value == "true")
            {
                @Html.CheckBox("Value", new {@class = "col-md-10", id = "check-box", @checked = "checked", onclick = "ChangeState()"})

            }
            else
            {
                @Html.CheckBox("Value", new {@class = "col-md-10", id = "check-box", onclick = "ChangeState()"})
            }
        }
        else
        {
            @Html.EditorFor(x => Model.Value, new {htmlAttributes = new {@class = "form-control"}})
        }
    }

</div>
