@using Tariff.Models
@model Tariff.Models.Param

@Html.HiddenFor(x => Model.Id)
@Html.HiddenFor(x => Model.ParamTypeId)
@Html.HiddenFor(x => Model.RateId)


<div class="control-label col-md-2">
    @Html.DisplayFor(x => Model.ParamType.Name)
</div>
<div class="control-label col-md-10">
    @{
        if (Model.ParamType.ParamDataType.Value == ParamDataType.Bool)
        {
            if (Model.Value == "true")
            {
                @Html.CheckBox("Value", new {@class = "col-md-10", id = "check-box", @checked = "checked", onclick = "ChangeState()"})
                <label id="check-box-label" for="check-box" class="control-label col-md-2">Enabled</label>
            }
            else
            {
                @Html.CheckBox("Value", new {@class = "col-md-10", id = "check-box", onclick = "ChangeState()"})
                <label id="check-box-label" for="check-box" class="control-label col-md-2">Disabled</label>
            }
        }
        else
        {
            @Html.EditorFor(x => Model.Value, new {htmlAttributes = new {@class = "form-control"}})
        }
    }

</div>
<script type="text/javascript">

    function ChangeState() {


        var labelText = $('#check-box-label').text();

        if (labelText === "Disabled") {
            $('#check-box-label').text("Enabled");

        } else {
            $('#check-box-label').text("Disabled");

        }
    }

</script>