@using Tariff.Models
@model Tariff.Models.Param

@Html.HiddenFor(x => Model.Id)
@Html.HiddenFor(x => Model.ParamTypeId)
@Html.HiddenFor(x => Model.RateId)


<div class="control-label col-md-2">
    @Html.DisplayFor(x => Model.ParamType.Name)
</div>
<div class="control-label col-md-10">
    @{
        if (Model.ParamType.ParamDataType.Value == ParamDataType.Bool)
        {
            if (Model.Value == "true")
            {
                @Html.CheckBox("Value", new {@class = "col-md-10", id = "check-box", @checked = "checked", onclick = "ChangeLabelText()"})
                <label id="check-box-label" class="control-label col-md-2">Enabled</label>
            }
            else
            {
                @Html.CheckBox("Value", new {@class = "col-md-10", id = "check-box", onclick = "ChangeLabelText()"})
                <label id="check-box-label" class="control-label col-md-2">Disabled</label>
            }
        }
        else
        {
            @Html.EditorFor(x => Model.Value, new {htmlAttributes = new {@class = "form-control"}})
        }
    }

</div>
<script type="text/javascript">

    @*var _myNames = JSON.parse('@HttpRequest.');
    alert(_myNames);*@

    function ChangeLabelText() {
        //alert($('#check-box').attr("checked"));


        var labelText = $('#check-box-label').text();

        if (labelText === "Disabled") {
            $('#check-box-label').text("Enabled");

            //$('#check-box-label').text("Enabled").attr("checked", "checked");


        } else {
            $('#check-box-label').text("Disabled");
            //alert($('#check-box-label').attr("checked"));
        }
    };

</script>